#total {
    background-image: url(https://images7.alphacoders.com/661/661783.jpg);
    background-position: left;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: white;
    width: 100%;
    padding: 30px;
}

nav img {
    height: 80%;
    min-width: none;
}


nav {
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style-type: none;
    margin-bottom: 20px;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: red;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 200px;
    color: black;
}

#sconto-spiegato {
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
    color: blue;
}